*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth; // smooth siginfica devargarzinho
}

body{
    overflow-x: hidden;
    background-color: #090909;
}

nav{
    display: block;
    position: fixed;
    top: 0;
    left:0;
    background-color:rgb(0, 0, 0);
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow:  0px 3px 20px rgb(255, 0, 0);
    z-index: 999;
}

@keyframes fromTop{
    0%{
        transform: translateY(-70px);
    }
    100%{
        transform: translate(0px);
    }
    
}


.wrap-img{
    width: 90%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrap-links{
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    display: flex;
    align-items: center;
}

.wrap-links a{
    text-decoration: none;
    color: #0a2f5f;
    font-weight: bold;
    transition: all 200ms ease-in-out;
    
}


.wrap-links a:hover{
    text-decoration: underline;
    color: #0c58bd;

}

.wrap-banner img:hover{
    filter: grayscale(0);
    transform: scale(1.1)
}

.logo{
    width: 70px;
    height: 70px;
    transform: matrix(1235);
}

#s1{
    background-color: whitesmoke;
    min-height: 100vh;
    padding-top: 80px;    
}

.left{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: fromLeft 2s ease-in-out;
}

@keyframes fromLeft {
    0%{
        transform: translateZ(-100px) rotate(9999999deg);
    }
    20%{
        transform: translateX(+400px);
    }
    40%{
        transform: translateX(-400px);
    }
    60%{
        transform: translateY(+900px);
    }
    80%{
        transform: translateY(-1000px);
    }
    100%{
        transform: translate(0px);
        opacity: 1;
    }
}


.right{
    width: 350px;
    animation: fromRight 2s ease-in-out;
}

@keyframes fromRight{
    0%{
        transform: translateX(-100px) rotate(-99999999deg);
    }
    25%{
        transform: translateX(-350%);
    }
    50%{
        transform: translateY(-400px);
    }
    75%{
        transform: translateZ(-80px);
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes fromBottom{
    0%{
        transform: translate( X, Y, Z);
        opacity: 1;

    }
}


.wrap-banner{
border-radius: 1000px;
overflow: hidden;
width: 400px;
height: auto;
}

.wrap-banner img{
width: 300px;
height: auto;
}


#s2{
    background-color: whitesmoke;
    min-height: 100vh;
    padding-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4vh;
}

.wrap-cards{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;  
}

.card{
    width: 230px;
    padding: 20px;
    border: 2px solid #090909;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card img{
    margin-bottom: 20px;
    transition: all 200ms linear;
    border-radius: 16px;
}

.card:hover img{
    transform: scale(1.2);
    box-shadow: 0px 3px 20px #09090976;
}

#s3{
    background-color: whitesmoke;
    min-height: 100vh;
    width: 100%;
}

#s3 iframe{
    width: 768px;
    height: 440px;
}

.wrap-video{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#s4{
    background-color: whitesmoke;
    min-height: 100vh;
    padding-top: 80px;
}


@media (width <= 768px){
    nav{
        flex-direction: column;
        height: auto;
        padding-bottom: 15px;
    }
 
    .wrap-links a{
        text-align: center;
    }

    #s1, #s2, #s3, #s4{
        padding-top: 120px;
        height: auto;
    }
    
    #s1{
        flex-direction:column;
    }
    .left{
    width: 100%;
    }

    .right{
    width: 100%;
    text-align: center;
    }
    .wrap-banner{
     border-radius: 1000px;
     overflow: hidden;
     width: 400px;
     height: auto;
    }

    .wrap-banner img{
    width: 300px;
    height: auto;
    }

}
